* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
body {
	background: black;
}
.big-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	gap: 20px;
}
h1 {
	text-align: center;
}
.container {
	position: relative;
	justify-content: center;
	align-items: center;
}
#canvas1 {
	border: 5px solid white;
	width: 100%;
	max-width: 800px;
	min-width: 300px;
	height: auto;
	display: block;
	padding-bottom: 5px;
}
.controls {
	display: flex;
}
.controls > input {
	width: 60%;
}
.controls > label {
	font-family: Arial, Helvetica, sans-serif;

	color: white;
	font-size: 15px;
	padding-right: 10px;
}
i {
	color: #e9ff70;
	margin-right: 20px;
	margin-top: 3px;
}
#imageUpload {
	display: none;
}
#upload {
	display: flex;
}
.upload-btn:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.upload-btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background-color: #e9ff70;
	color: black;
	padding: 4px;
	border-radius: 20px;
	transition: transform 200ms ease-in-out;
}

#explaination {
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
	width: 300px;
	color: #e9ff70;
}

@media (min-width: 768px) {
	.big-container {
		flex-direction: row;
	}
	.container {
		padding: 10em;
		width: 100%;
		max-width: 400px;
	}
	#canvas1 {
		border: 5px solid white;
		width: 100%;
		padding: 10px;
		max-width: 400px;
		height: auto;
	}

	.controls > label {
		padding-right: 20px;
		font-size: 5px;
	}
	#resolutionLabel {
		white-space: no-wrap;
	}
}
